*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar */
#logo{
 margin-left: 70px;
 font-size: 29px;
 font-weight: 600;
 color: #0802A3;
}
ul li a{
    transform: translate(390px,0);
}
.btnst{
  transform: translate(-40px,0);
}
/* below navbar hero section */
.Discover b{
    font-weight: 650;
    font-size: 35px;
}
.Islamic{
    font-size: 19px;
    font-weight: 450;
}
/* carousel-section */
#carouselExampleSlidesOnly{
    margin-left: 200px;
}